html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Segoe UI, Calibri, Arial, sans-serif;
	font-size: 14pt;
}
iframe {
	width: 100%;
	border: none;
	height: 88vh;
}
.nav-container {
	display: flex;
}
.nav {
	height: 12vh;
	font-weight: bold;
	flex: auto;
}
.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-button {
	font-size: 35pt;
	display: flex;
	background-color: #ddd;
	color: #000;
	text-decoration: none;
}
.nav-button:active {
	background-color: #bbb;
}
.nav-input {
	border: 1px solid black;
	background-color: #fff;
	font-size: 14pt;
}
.nav-button.disabled {
	background-color: #eee;
	color: #888;
}
.column {
	flex-direction: column;
}
