html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Segoe UI, Calibri, Arial, sans-serif;
	font-size: 14pt;
}

form {
	background-color: #404040;
}
.nav-input {
	height: 25pt;
	box-sizing: border-box;
	border: none;
	background-color: #fff;
	font-size: 14pt;
	margin-bottom: 5pt;
}
.nav-button {
	height: 40pt;
	box-sizing: border-box;
	font-weight: bold;
	flex: auto;
	font-size: 28pt;
	background-color: #888;
	color: #fff;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	border-right: 5pt solid #404040;
}
.nav-button:first-child {
	border-left: 5pt solid #404040;
}
.nav-button:active {
	background-color: #aaa;
}
.nav-button.disabled {
	background-color: #fff;
	color: #404040;
	cursor: default;
}

iframe {
	box-sizing: border-box;
	width: 100%;
	border: none;
	height: calc(100vh - 70pt);
	display: none;
}
iframe.front {
	display: block;
	z-index: 1;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
#background-message {
	font-family: Calibri, sans-serif;
	text-align: center;
	width: calc(100vw - 8px);
	position: absolute;
	top: 45vh;
	z-index: -1;
}
